body {
    margin: 20px;
    background-color: rgb(245, 230, 191);
}
.media {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que cubra toda la altura de la ventana */
    box-sizing: border-box;
}
h2 {
    font-size: 15px;
    margin: 10px;
    text-align:left;
    margin-top: 10px;
}
hr {
    color: black;
}
.fondoCaja {
    border-radius: 0.4rem;
    box-shadow: 2px 2px 10px 2px black;
    height: 200px;
    margin-top: 20px;
    border: 1px solid black;

}
.primer {
        color: white;
        background-color: rgb(36, 26, 26);
        font-size: 30px;
        text-align: center;
        padding: 10px;
        box-shadow: 5px 5px 10px black;
        border-radius: 0.4rem;
}
.segundo {
    margin: 10px;
    text-decoration: underline;
    font-size: 12px;
}
.tercero {
    margin: 10px;
    color: rgb(145, 145, 145);
    font-size: 12px;
    background-color: rgb(224, 222, 222);
    border-radius: 0.2rem;
    box-shadow: 5px 5px 10px grey;
    padding: 4px;
    width: 22rem;
}
.cuarto {
    margin: 10px;
    font-size: 12px;
    background-color: rgb(212, 212, 201);
    color: rgb(59, 59, 59);
    border: 2px solid black;
    border-radius: 0.2rem;
    padding: 4px;
    box-shadow: 5px 5px 10px grey;
    width: 13rem;
}
.quinto {
    margin: 10px;
    font-size: 12px;
    background-color: rgb(235, 211, 133);
    color: rgb(59, 59, 59);
    border: 3px solid black;
    border-radius: 0.2rem;
    padding: 4px;
    box-shadow: 5px 5px 10px grey;
    width: 13rem;
}
.Caja1 {
    margin: 10px;
    font-size: 12px;
    background-color: rgb(235, 211, 133);
    border-radius: 0.2rem;
    box-shadow: 5px 5px 10px rgb(235, 211, 133);;
    position: relative;
    padding: 4px;
}
.Caja2 {
    margin: 10px;
    font-size: 12px;
    background-color: rgb(216, 156, 87);
    border-radius: 0.2rem;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgb(54, 54, 54);
    position: absolute;
    padding: 4px;
    top: 50%;
    left: 50%;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Ajusta el tamaño de las columnas */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 10px; /* Añade espacio entre los elementos */
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del contenedor */
}
.Elemento {
    background-color: #f1e8d3;
    padding: 10px;
    text-align: center;
    border-radius: 0.4rem;
    border: 2px solid black;
}
.animacion{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    background-color: grey;
    transition: 3s;
}
.animacion:hover{
    cursor: pointer;
    background-color: black;
}
    
.mover{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(0, 255, 21);
    position: absolute;
    animation: mover 3s linear infinite;
}
@keyframes mover{
    0%{
        transform:translateX(100px)
    }
    100%{
        transform:translateX(200px)
    }
}
@media screen and (max-width: 768px) {
    body {
        background-color: rgb(224, 220, 207);
    }
    .primer {
        font-size: 20px;
    }
    h2 {
        font-size: 15px;
    }
    .Caja1 {
        background-color: rgb(180, 176, 162);
        box-shadow: 5px 5px 10px rgb(54, 54, 54);
    }
    .Caja2 {
        background-color: rgb(117, 116, 109);
        box-shadow: 5px 5px 10px rgb(54, 54, 54);
    }
    .cuarto {
        background-color: rgb(230, 230, 230);
    }
    .quinto {
        background-color: rgba(85, 83, 81, 0.548);
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
        justify-content: center; 
        align-items: center; 
        gap: 10px; 
        padding: 20px;
        box-sizing: border-box;
    }
}